body {
    background-color: black;
    color: white;
}

.ap-header {
    display: grid;
    grid-template-columns: 20% 23% 57%;
}

.ap-image-header {
    grid-column-start: 3;
    grid-column-end: 3;
}

.image-header {
    margin: 40px;
    height: 52px;
    width: auto;
}

.image-header:hover {
    opacity: 0.5;
    transition: .4s ease;
}

.menu {
    display: grid;
    grid-template-columns: 3% 30% 3%;
    grid-column-start: 2;
    grid-column-end: 2;
    margin-top: 50px;
}

.m-button {
    grid-column-start: 1;
    grid-column-end: 1;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.m-button:hover {
    opacity: 0.5;
    transition: .4s ease;
}

.m1-button {
    grid-column-start: 3;
    grid-column-end: 3;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.m1-button:hover {
    opacity: 0.5;
    transition: .4s ease;
}

.grid-container {
    display: grid;
    grid-template-columns: 36% auto 50%;
}

.item2 {
    margin-top: 90px;
    grid-column-start: 3;
    grid-column-end: 3;
}

h1 {
    font-family: HelveticaNeueLTCom;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: lighter;
    margin-top: 150px;
    text-align: start;
    margin-left: 90PX;
}

i {
    font-size: 60px;
}

.ref {
    color: rgb(104, 104, 104);
    font-size: 20px;
    text-align: start;
    margin-top: 40px;
    margin-left: 90PX;
}

p {
    text-align: start;
    font-size: 20px;
    margin-left: 90px;
    margin-top: 270px;
}

.plan {
    margin-top: 60px;
    margin-left: 90px;
}

.plan1 {
    color: white;
    text-decoration: none;
    padding: 23px;
    padding-left: 90px;
    padding-right: 90px;
    border: 1px solid;

}

.plan1:hover {
    opacity: 0.5;
    transition: .4s ease;
}

.grid1-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 49% 30%;   
}

.item3 {
    margin-top: 100px;
}

.item4 {
    margin-top: 90px;
    margin-right: 0;
    grid-column-start: 2;
    grid-column-end: 2;
}

h2 {
    font-family: HelveticaNeueLTCom;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: lighter;
    margin-top: 150px;
    text-align: start;
    margin-left: 90PX;
}

.p1 {
    text-align: start;
    font-size: 20px;
    margin-left: 90px;
    margin-top: 10px;
}

.info {
    list-style: none;
    margin-left: 50PX;
}

.info-list {
    margin-top: 80px;
    text-transform: uppercase;
}

.text-up {
    font-size: 35px;
}

.text-upp {
    font-size: 20px;
    text-transform: lowercase;
}

.grid2-container {
    margin-top: 200px;
    display: grid;
    grid-template-columns: auto 5% auto;
}

.item5 {
    grid-column-start: 1;
    grid-column-end: 1;
}

.item6 {
    grid-column-start: 3;
    grid-column-end: 3;
}

.h23 {
    margin-top: 300px;
    margin-bottom: 0;
}

.dial {
    margin-top: 10px;
}