body {
    margin: 0;
}

.ap-header {
    display: grid;
    grid-template-columns: 20% 23% 57%;
}

.ap-image-header {
    grid-column-start: 3;
    grid-column-end: 3;
}

.image-header {
    margin: 40px;
    height: 52px;
    width: auto;
}

.image-header:hover {
    opacity: 0.5;
    transition: .4s ease;
}

.name-header {
    cursor: default;
    margin-top: 60px;
    margin-left: 200px;
}

.menu {
    display: grid;
    grid-template-columns: 3% 30% 3%;
    grid-column-start: 2;
    grid-column-end: 2;
    margin-top: 50px;
    
}

.m-button {
    grid-column-start: 1;
    grid-column-end: 1;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.m1-button {
    grid-column-start: 3;
    grid-column-end: 3;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.ap-footer {
    margin-top: 35%;
    width: 100%;
    background-color: #02291f;
    color: #fff;
    padding: 110px 0px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.head {
    cursor: default;
    font-size: 19px;
    text-transform: uppercase;
}

.links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.link {
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.link:hover {
    transition: .4s ease;
    color: rgba(172, 141, 76, 0.9);
}

.link1 {
    font-size: 15px;
    margin-top: 20px;
    color: white;
    text-decoration: none;
}

.link1:hover {
    transition: .4s ease;
    color: rgba(172, 141, 76, 0.9);
}

.link2 {
    font-size: 15px;
    margin-top: 20px;
    color: white;
    text-decoration: none;
}

.link2:hover {
    transition: .4s ease;
    color: rgba(172, 141, 76, 0.9);
}

.margin {
    margin-top: 30px;
}